REGISTRY_PROVIDER=aliyun-acr
REGISTRY_HOST=crpi-2iicgf8z27uyvaq1.cn-hangzhou.personal.cr.aliyuncs.com
LOGIN_SERVER=crpi-2iicgf8z27uyvaq1.cn-hangzhou.personal.cr.aliyuncs.com
LOGIN_USERNAME=your-acr-login-username
REGISTRY_NAMESPACE=silvericekey
BACKEND_IMAGE_NAME=story-weaver-backend
FRONTEND_IMAGE_NAME=story-weaver-front
IMAGE_TAG=1.0.0
