REGISTRY_PROVIDER=dockerhub
REGISTRY_HOST=docker.io
LOGIN_SERVER=docker.io
LOGIN_USERNAME=your-login-username
REGISTRY_NAMESPACE=your-registry-namespace
BACKEND_IMAGE_NAME=story-weaver-backend
FRONTEND_IMAGE_NAME=story-weaver-front
IMAGE_TAG=latest
